/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* بکگراند اصلی */
body{
    font-family: Arial, sans-serif;
    color:#fff;
    background:url("images/hero.jpg") center/cover fixed no-repeat;
}

/* کانتینر */
.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    text-align:center;
}

/* هدر */
header{
    padding:120px 0;
}

h1{
    font-size:60px;   /* بزرگ شد */
    margin-bottom:20px;
}

h2{
    font-size:40px;
    margin-bottom:25px;
}

p{
    font-size:24px;   /* متن خوانا */
    line-height:1.9;
}

/* سکشن ها */
section{
    padding:90px 0;
}

/* کارت خدمات */
.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.card{
    width:300px;
    padding:20px;
    border-radius:20px;
    backdrop-filter: blur(2px); /* خیلی کم */
    background: rgba(0,0,0,0.15); /* مات خیلی کم */
}

.card img{
    width:100%;
    border-radius:15px;
    margin-bottom:15px;
}

/* گواهینامه ها */
.certs{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.certs img{
    width:250px;
    border-radius:15px;
}

/* دکمه */
.btn{
    display:inline-block;
    margin-top:25px;
    padding:18px 35px;
    font-size:22px;
    border-radius:10px;
    background:rgba(0,0,0,0.25);
}

footer{
    padding:40px;
    font-size:18px;
}

/* موبایل */
@media(max-width:768px){
    h1{font-size:40px;}
    h2{font-size:28px;}
    p{font-size:20px;}
    }
